/*Estilização para as Media Queries*/

*{
	padding: 0;
	margin: 0;
}

/*Media para telas maiores que 1100 pixels*/
@media screen and (min-width: 1101px){
	.msg-rsp, .menu, .btn-close, .fbusca-rsp, .busca-rsp{
		display: none;
	}

	.background{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: #000;
		opacity: .0;
		z-index: 100;
		display: none;
	}

	.box{
		position: absolute;
		top: 10%;
		left: 10%;
		width: 1000px;
		height: 500px;
		background-color: #fff;
		z-index: 101;
		padding: 20px;
		border-radius: 4px;
		display: none;
		border: 5px solid #000;
	}

	.close{
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}
} 

/*Edição para as telas menores que 1100 pixels -- Tela Responsiva*/
/*Todos os elementos visuais da tela responsiva esta nesta página*/
@media screen and (max-width: 1100px){
	.logo, .pesqisa, .fbusca, .busca, .msg, .btn, .links a, .background, .box, .close{display: none;}

	nav{
		width: 100%;
		height: 60%;
		position: fixed;
		display: none;
	}

	.btn-close{
		width: 20%;
		height: 200px;
		font-size: 6em;
		float: left;
		cursor: pointer;
		box-sizing: border-box;
		text-align: center;
		background-color: #fff;
		padding-top: 50px; 
	}

	.busca-rsp{
		width: 80%;
		height: 200px;
		float: left;
		text-align: center;
		padding-top: 50px;
		box-sizing: border-box;
		background-color: #fff;
	}

	.fbusca-rsp{
		width: 80%;
		height: 70px;
		font-size: 3em;
		border: 3px solid #000;
		padding: 15px;
	}

	ul{
		width: 100%;
		float: left;
		margin: 0px;
		font-size: 3em;
	}

	ul li{
		width: 100%;
		float: left;
		height: 100px;
		padding: 30px;
		border-bottom: 3px solid #bfbfbf;
		text-align: left;
		padding-left: 130px;
		box-sizing: border-box;
	}

	ul li:hover{
		background-color: #4d0066;
	}

	ul li img{
		height: 35px;
		width: 35px;
		float: right;
	}

	.login{
		text-align: center;
		width: 100%;
		height: 200px;
		font-size: 3em;
		box-sizing: border-box;
		padding-top: 100px;
	}

	header{
		width: 100%;
		height: 200px;
	}

	.menu{
		width: 20%;
		height: 200px;
		float: left;
	}

	.btn-menu{
		width: 100px;
		height: 100px;
		background-image: url(../image/icons/menu.png);
		background-size: 100%;
		margin-left: 50px;
		margin-top: 50px;
		border: none;
		background-color: white;
		cursor: pointer;
	}

	.logo{
		display: block;
		width: 60%;
		height: 200px;
		float: left;
		box-sizing: border-box;
		padding-top: 30px;
	}

	.title, .title b{
		font-size: 50px;
	}

	.sub{
		font-size: 30px;
	}

	.carrinho{
		width: 20%;
		height: 200px;
		float: left;
		text-align: center;
	}

	.carrinho img{
		width: 110px;
		height: 110px;
		margin-left: 30px;
	}

	.carrinho p{
		margin: 0px;
		margin-top: 10px;
		font-size: 30px;
		float: left;
		color: #d9d9d9;
		margin-left: 50px;
	}

	.num{
		color: #f1230c;
	}

	.msg-rsp{
		width: 100%;
		height: 80px;
		font-size: 40px;
		text-align: center;
		float: left;
		padding-top: 15px;
		background-color: #d9d9d9;
		margin-bottom: 10px;
	}

	section{
		width: 100%;
		height: 1400px;
	}

	h1{
		width: 100%;
		height: 100px;
		text-align: center;
		font-size: 50px;
		float: left;
	}

	.produtos{
		width: 100%;
		height: 1400px;
		margin-top: 30px;
	}

	.produtos div{
		width: 45%;
		float: left;
		text-align: center;
		margin: 20px;
	}

	.produtos img{
		width: 300px;
		height: 300px;
	}

	.produtos legend{
		font-size: 30px;
	}

	footer{
		width: 100%;
		height: 800px;
		display:flex;
    	flex-direction:column;
	}

	.contato{
		width: 90%;
		height: 400px;
		order: 1;
		font-size: 40px;
		margin-left: 55px;
		box-sizing: border-box;
	}

	.email{
		width: 70%;
		height: 60px;
		margin-top: 40px;
		font-size: 40px;
		margin-left: 20px;
		border: 3px solid black;
	}

	.btn2{
		width: 20%;
		height: 70px;
		margin-left: 5px;
		margin-top: 10px;
		font-size: 40px;
		background-color: #ff4d4d;
		color: #ffffff;
	}

	.links{
		width: 100%;
		height: 200px;
		order: 2;
		text-align: center;
		box-sizing: border-box;
	}

	.links img{
		width: 110px;
		height: 110px;
		margin-top: 35px;
		margin-right: 30px;
	}

	.links p{
		font-size: 40px;
	}
}